/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*подключение шрифтов*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Semibold';
  src: url('../fonts/Lato-Semibold.eot');
  src: local('☺'), url('../fonts/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold.ttf') format('truetype'), url('../fonts/Lato-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*body*/

body {
  color: #8c8c8c;
  font-family: "Open Sans",sans-serif;
  font-size: 17px;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

header {
  position: fixed;
  z-index: 1;
  background: rgb(252, 143, 0, 0.3);
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 3% 0px;



}

.header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 372px;
  width: 100%;

}

.header__logo {
  color: #000000;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -2.16px;
}

.header__link {
  color: #a4a4a4;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 0.01px;
  transition-duration: 1s;
}

.header__link.active {
  color: #ff0000;
}

.header__link:hover {
  color: #000000;
}

/*picture*/

.section__picture{
  z-index: 0;
}

.picture__background {
  max-width: 100%;
  max-height: 272px;
}

.picture__image {
  width: 100%;
  height: 100%;
}

.picture {
  position: relative;
}

.picture__greeting {
  max-width: 100%;
  position: absolute;
  top: 42%;
  left: 25%;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.picture__img {
  width: 70%;
}

.picture__greeting:hover {
  transform: scale(1.5);

}

/*info*/

.info {
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;

}

.info__title {
  color: #000000;
  font-family: "Lato - Semibold".sans-serif;
  font-size: 22px;
  line-height: normal;
  text-align: justify-all;
  margin-top: 20px;
  margin-bottom: 30px;
}

.info__text {
  color: #535353;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  margin-top: 28px;
}

.info__button {
  margin-top: 27px;
  margin-bottom: 24px;
}

.info__btn {
  width: 124px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid #e85f37;
  color: #e85f37;
  font-weight: 600;
  background-color: #ffffff;
  transition-duration: 0.1s;

  
}

.info__btn:hover {
  background-color: #f0987e;
  color: #ffffff;
  transform: scale(0.9);

}

.info__link {
  color: #e85f37;
  font-size: 13px;
  font-weight: 700;
  line-height: 0.01px;
  text-transform: uppercase;
  letter-spacing: 2.34px;
}

.info__footer {
  color: #535353;
  font-size: 12px;
  text-transform: uppercase;
  text-align: justify-all;
  margin-bottom: 10px;
}

.info__bold {
  font-weight: 700;
}

.info__item{
  display: flex;
  justify-content: space-between;
}

.info__item-text {
  width: 60%;
}

.info__item-image {
  width: 35%;
  }

.info__item-img {
  max-width: 100%;
}

.info__bottom {
  margin-top: 26px;
}

.info__wave--second {
  padding-top: 42px;
  
}

/*footer*/

.footer__item {
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
}

.footer__btn {
  width: 135px;
  height: 35px;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  

}

.footer__btn:hover {
  background: #ffffff; 
  color: #000000;
  transform: scale(0.9);
  transition-duration: 0.2s;
  border:5px solid #000000;
  
}

.footer__item-text{
  color: #525252;
  font-family: Lato;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.34px;
  padding-top: 2%;
}

/*медиа запросы*/

@media (max-width: 1230px) {
  
}

@media (max-width: 990px) {
  .container {
    max-width: 750px;
  }

  .info {
    padding-bottom: 10px;
}
}

@media (max-width: 770px) {
  .container {
    max-width: 555px;
  }

  /*header*/

  .header__menu {
    width: 50%;
}

/*info*/

  .info__title {
    font-size: 18px;
  }

  .info__item-image {
    padding-top: 5%;
  }

  .info__text {
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
}
  .info__bottom {
    margin-top: 20px;
 }

 .info__footer {
    font-size: 10px;
  }

  .info {
    padding-top: 30px;
  }

  /*footer*/

  .footer__item-text {
    font-size: 10px;
  }

  

}

@media (max-width: 575px) {
  .container {
    max-width: none;
  }

  /*header*/

  .header__logo {
    font-size: 20px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__menu {
    width: 60%;
}

/*info*/

  .info__title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

  .info__footer {
    font-size: 8px;
}

  .info__btn{
    max-width: 40%;
  }

/*footer*/

  .footer__item-text {
    width: 48%;
    font-size: 8px;
    line-height: normal;
  }

  .footer__item-button {
    width: 48%;
  }

  .footer__btn{
    max-width: 80%;
  }
}

